@model StudentsDairyMVC.Models.Student

@{
    Layout = Layout;
}

    

    
        <h3>Добавить студента</h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false)
        <div class="form-group">
            <div class="col-md-10">
                <p>
                    @Html.LabelFor(m => m.FirstName, "Имя")
                    <br />
                    @Html.EditorFor(m => m.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </p>

                <p>
                    @Html.LabelFor(m => m.LastName, "Фамилия")
                    <br />
                    @Html.EditorFor(m => m.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </p>

                <p>
                    @Html.LabelFor(m => m.ScoreId, "Оценка")
                    <br />
                    @Html.EditorFor(m => m.ScoreId)
                    @Html.ValidationMessageFor(model => model.ScoreId, "", new { @class = "text-danger" })
                </p>

                <p><input type="submit" value="Добавить" class="btn-btn-success" /></p>
            </div>
           
        </div>
            
        }
